<div class="span-24">
<div class="button-container">
  <%= link_to("[#{@user.name}]", home_edit_user_path(:user => (@user.id)), class: "button pill icon user") if is_user_logged %>
  <div class="button-group">
    <%= link_to "Login", { :controller => "home", :action => "login" }, class: "button pill" %>
    <%= link_to "Signup", { :controller => "home", :action => "signup"}, class: "button pill" %> 
    <%= link_to "Logout", { :controller => "home", :action => "logout" }, class: "button pill" %>
  </div>
  <div class="button-group minor-group">
    <%= link_to "About", { :controller => "home", :action => "about" }, class: "button pill" %>
    <%= mail_to "luis.capra@gmail.com", "Feedback", :encode => "javascript", class: "button pill icon mail" if !is_admin_logged %>	
  </div>
  <div class="button-group">
    <%= link_to("Users", users_list_path, class: "button pill") if is_admin_logged %>
    <%= link_to("New Match", { :controller => "home", :action => "new_match" }, class: "button pill") if is_admin_logged %>
  </div>
</div>
</div>
<div class="prepend-top append-bottom span-24 last backwhite shadow">
<br />
<br />
<% if @match %>
<% position = 0 %>
<table border="0" cellspacing="0" cellpadding="0">
	<caption>
		<em>
			Current match: "<b><%= @match.name %></b>"
			<%="(closed)" if @match.closed %>
		</em>
		<br />
                <%= link_to "Add me!", { :controller => "home", :action => "add_user_to_match" }, class: "button" if is_user_registered_and_match_available %>
		<%= link_to "Edit", home_edit_match_path(:match => @match.id), class: "button" if is_admin_logged %>
	</caption>
	<thead>
		<tr>
			<th class="span-4">Position</th>
			<th class="span-4">Score</th>
			<th class="span-4">Name</th>
			<th class="span-4">Status</th>
			<% if @match.require_confirmation %>
			<th class="span-4">Actions</th>
			<% end %>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="2">Total: <%= "#{@match.players.count}" %></td>
		</tr>
	</tfoot>
	<tbody>
		<% @players.each_with_index do |p, index| %>
		<tr>
			<td><%= index + 1 %></td>
			<td><%= p.score.round(1) %></td>
			<td><%= p.user.name %></td>
			<td>
				<%= "CONFIRMED" if p.confirm %> 
				<%= "CANCELLED" if p.cancel %> 
				<%= "NEW" if !p.confirm && !p.cancel %> 
			</td>
			<%if @match.require_confirmation %>
			<td>
				<% if (!p.confirm && !p.cancel && @user && !@user.admin? && p.user == @user) || (@user && @user.admin?) %>
                                <div class="button-group">
				<%= link_to_if @user && !p.confirm, "Confirm", home_confirm_player_to_match_path(:player => p), class: "button icon approve" %>
                                <%= link_to_if @user && !p.cancel, "Cancel", home_cancel_player_to_match_path(:player => p), class: "button danger icon remove"  %>
                              </div>
				<% end %>
			</td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>
<% end %>


