<div class="span-24 last">
	<%= link_to "[#{@user.name}]", home_edit_user_path(:user => @user.id) if @user %>
	<%= link_to "Login", :controller => "home", :action => "login" if !@user %>
	<%= link_to "Signup", :controller => "home", :action => "signup" if !@user %> 
	<%= link_to "Logout", :controller => "home", :action => "logout" if @user %>
	<%= link_to "About", :controller => "home", :action => "about" %>
	<%= mail_to "luis.capra@gmail.com", "Feedback", :encode => "javascript" if @user && !@user.admin? %>			
	<%= link_to "Users", users_list_path if @user && @user.admin? %>
	<%= link_to "New Match", :controller => "home", :action => "new_match" if @user && @user.admin? %>
</div>
<br />
<br />
<% if @match %>
<% position = 0 %>
<table border="0" cellspacing="0" cellpadding="0">
	<caption>
		<em>
			Current match: "<b><%= @match.name %></b>"
			<%="(closed)" if @match.closed %>
		</em>
		<br />
		<%= link_to "Add me!", :controller => "home", :action => "add_user_to_match" if !@match.closed && @user && !@player %>
		<%= link_to "Edit", home_edit_match_path(:match => @match.id) if @user && @user.admin? %>
	</caption>
	<thead>
		<tr>
			<th class="span-4">Position</th>
			<th class="span-4">Score</th>
			<th class="span-4">Name</th>
			<th class="span-4">Status</th>
			<% if @match.require_confirmation %>
			<th class="span-4">Actions</th>
			<% end %>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="2">Total: <%= "#{@match.players.count}" %></td>
		</tr>
	</tfoot>
	<tbody>
		<% @players.each_with_index do |p, index| %>
		<tr>
			<td><%= index + 1 %></td>
			<td><%= p.score.round(1) %></td>
			<td><%= p.user.name %></td>
			<td>
				<%= "CONFIRMED" if p.confirm %> 
				<%= "CANCELLED" if p.cancel %> 
				<%= "NEW" if !p.confirm && !p.cancel %> 
			</td>
			<%if @match.require_confirmation %>
			<td>
				<% if (!p.confirm && !p.cancel && @user && !@user.admin? && p.user == @user) || (@user && @user.admin?) %>
				<%= link_to "Confirm", home_confirm_player_to_match_path(:player => p) if @user && !p.confirm %>
				<%= link_to "Cancel", home_cancel_player_to_match_path(:player => p) if @user && !p.cancel %>
				<% end %>
			</td>
			<% end %>
		</tr>
		<% end %>
	</tbody>
</table>
<% end %>


