<!DOCTYPE html>
<html>
<head>
	<title>La Cancha de tu hermana!</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<%= stylesheet_link_tag    "screen", :media => "screen, projection" %>
	<%= stylesheet_link_tag    "print", :media => "print" %>
	<!–[if IE]><%= stylesheet_link_tag    "ie", :media => "screen, projection" %><![endif]–>
  	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
  <div class="backgreen shade">
	<div class="container">
          <div class="prepend-1 span-23">
		<h2>Futbol</h2>
	  </div>
	</div>
  </div>
        <br/>
    <% if SessionBag.get_error(flash) %>
    <div class="container error">
      <%= SessionBag.get_error(flash) %>
    </div>
    <% end %>
    <div class="container ">
		<%= yield %>
    </div>
</body>
</html>
